.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-back{
  background: #FCFBFC;
border: 10px solid #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082937);
border-radius: 40px;
height: 110vh;
}

.site-buttons{
background: #4DE897;
box-shadow: 0px 4px 10px rgba(118, 212, 45, 0.3);
border-radius: 3px;
color: #000000;
height: 57.28px;
border-color: #FCFBFC;
}

.form-back{
  background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082937);
border-radius: 6px;
padding: 50px 80px;
}

.dashboard-form{
  background: #F2F3F7;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082937);
border-radius: 6px;
padding: 20px 10px;
}

.welcome{
  color:#4CE895;
  font-weight: bolder;
}

.newInputBorder{
  border-radius: 0px !important;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
